:root {
  --bs-body-bg: #ffffff;
}

.mb-1 {
  color: black;
}

.mb-2 {
  color: black;
}

.form-label {
  color: black;
}

.list-group-item {
  color: white;
  background-color: gray;
}

.text-success {
  color: #0A0019 !important;
}

.text-muted {
  color: white !important;
}

.bg-light {
  background-color: #0A0019 !important;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif , 'timesnewroman' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#carousel{
  max-height: 500px;
}

